# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

client/node_modules/
client/bower_components/
client/.sass-cache/
client/temp/
client/_SpecRunner.html
client/.DS_Store
client/test-results.xml

public

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
