# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

node_modules
ng-app/bower_components/
ng-app/.sass-cache/
public

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
